<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P-G Detalle Venta</title>
  <!-- Favicon -->
<link rel="shortcut icon" href="../img/PubliGrafit2.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/style.css">


  <script src="../validar/validarVC.js"></script>

</head>

<body>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar" id="header">
    {{>aside}}
</aside>
  <div class="main-wrapper">
    <!-- ! Main nav -->
    <nav class="main-nav--bg">
      {{>nav2}}
    </nav>
    <!-- ! Main -->
   
<br>
<br>
<br>

    
<table class="table table-hover ml-3">
    <thead>
        <tr>
        <th>Id</th>
         <th>DNI</th>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Comprobante</th>
         <th>Producto</th>
         <th>Precio</th>
         <th>Cantidad</th>
         <th>Iva</th>
         <th>Subtotal</th>
         <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{#each title}}
                <tr>
                    <td>{{id_venta}}</td>
                    <td>{{dni_cliente}}</td>
                    <td>{{nombres}}</td>
                    <td>{{apellidos}}</td>
                    <td>{{tipo_comprobante}}</td>
                    <td>{{nombre_producto}}</td>
                    <td>{{precio}}</td>
                    <td>{{cantidad}}</td>
                    <td>{{iva}}</td>
                    <td>{{subtotal}}</td>
                    <td>{{total}}</td>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

  </div>
</div>

      </div>
    </div>
  </div>
</div>






<!-- Chart library -->
<script src="../plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="../plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="../js/script.js"></script>
</body>
</html>